[job_builder]
ignore_cache=True
keep_descriptions=False
include_path=.
recursive=True

[jenkins]
user=pmikus
password=11127e164500c7ab7c1783410264b1728a
url=https://jenkins.fd.io/sandbox
query_plugins_info=False
