[job_builder]
ignore_cache=True
keep_descriptions=False
include_path=.
recursive=True

[jenkins]
#user=jenkins
#password=1234567890abcdef1234567890abcdef
url=https://jenkins.fd.io/sandbox
query_plugins_info=False
