[access]
	inheritFrom = All-Projects
[project]
	description = Management repo for Jenkins Job Builder, script and management related to the Jenkins CI configuration.
[access "refs/*"]
	owner = group saml/fdio-gerrit-ci-management-committers
	viewDrafts = group Anonymous Users
	read = group GitHub Replication
[submit-requirement "Code-Review"]
        description = A maximum 'Code-Review' vote from a non-uploader is required for the 'Code-Review' label. A minimum vote is blocking.
        submittableIf = label:Code-Review=MAX,user=non_uploader AND -label:Code-Review=MIN
        canOverrideInChildProjects = false
