[access]
	inheritFrom = All-Projects
[project]
	description = Management repo for Jenkins Job Builder, script and management related to the Jenkins CI configuration.
[access "refs/*"]
	owner = group ldap/fdio-gerrit-ci-management-committers
	viewDrafts = group Anonymous Users
	read = group GitHub Replication
